.plebei-toggler {
    width: 120px;
    >div {
        display: inline-block;
        img {
            width:100%;
            display: inline-table;
        }
        &:first-child {
            text-align: right;
            height: 32px;
            width: 28px;
        }
    }
    label {
        box-sizing: border-box;
        &::selection {
            background: none;
        }
    }
    input[type="checkbox"] {
        display: none; // add default box-sizing for this scope
        +label {
            outline: 0;
            display: block;
            width: 4em;
            height: 2em;
            position: relative;
            cursor: pointer;
            user-select: none;
            background: #ddd;
            border-radius: 2em;
            padding: 2px;
            transition: all .4s ease;
            &:after,
            &:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }
            &:before {
                display: none;
            }
            &:after {
                left: 0;
                border-radius: 50%;
                background: #fff;
                transition: all .2s ease;
            }
        }
        &:checked+label {
            background: $brand-primary;
        }
        &:checked+label:after {
            left: 50%;
            background: #fff;
        }
    }
}